# -*- coding: utf-8 -*-

from sciscrapy.features import FeatureExtractor

class ${ClassifierName}Features(FeatureExtractor):
    
    def __init__(self):
        super(${ClassifierName}Features, self).__init__()
    
    
    def feature_one(self, datum):
        pass  
    
    
    
